.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

/* sidebar 隐藏时候图标居中 */
.el-scrollbar__wrap {
  margin-right: 0px !important;
}
/* start of siderBar 边框 */
.sidebar-container .el-menu {
  border: none;
}

/* 侧边导航栏隐藏文字时将箭头也隐藏 */
.el-menu--collapse {
  .el-submenu__icon-arrow {
    visibility: hidden;
  }
}

// .el-submenu [class^="el-icon-"] {
//   margin-right: 20px;
// }
// .el-icon-menu[class^="el-icon-"] {
//   margin-right: 20px;
// }
// .el-menu-item [class^="el-icon-"] {
//   margin-right: 20px;
// }
