/* sidebar 隐藏时候图标居中 */
// .el-scrollbar__wrap {
//   margin-right: 0px !important;
// }
/* start of siderBar 边框 */
.sidebar-container .el-menu {
  border: none;
}
/* 面包屑 高度 */
.el-breadcrumb {
  line-height: 30px !important;
}

/* 侧边导航栏隐藏文字时将箭头也隐藏 */
.el-menu--collapse {
  height: 100vh;
  .el-submenu__icon-arrow {
    visibility: hidden;
  }
}

/* 标签导航栏 */
.el-tabs__header {
  // width: calc(100vw - 310px);
  margin: 0 !important;
  .el-tabs__item {
    height: 30px !important;
    line-height: 30px !important;
  }
  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    line-height: 30px !important;
  }
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom: 2px solid forestgreen !important;
}
